<h2 mat-dialog-title>Detalhes do Pokemon</h2>
<mat-dialog-content class="mat-typografy">
    <div class="flex">
        <img src="{{(detail | async)?.sprites?.front_default}}" alt="">
        <span>ID: {{(detail | async)?.id}}</span>
        <span>Nome: {{(detail | async)?.name}}</span>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
    <button mat-raised-button color="accent" [mat-dialog-close]="true" cdkFocusInitial *ngIf="detail | async as d"
        (click)="capturar(d)">Capturar</button>
</mat-dialog-actions>