@use '@angular/material' as mat;

@include mat.core();

$poke-palette: (
 50: #f8fee8,
 100: #edfcc4,
 200: #e0fc9d,
 300: #caf750,
 400: #caf750,
 500: #c1f526,
 600: #b6e21c,
 700: #a7cb09,
 800: #99b300,
 900: #828b00,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: rgba(black, 0.87),
   400: rgba(black, 0.87),
   500: rgba(black, 0.87),
   600: white,
   700: white,
   800: white,
   900: white,
 )
);

$mon-palette: (
 50: #efe6fe,
 100: #d4c3fb,
 200: #b69afa,
 300: #966ff9,
 400: #7a4cf8,
 500: #5a26f5,
 600: #4b22ef,
 700: #3118e6,
 800: #0011e1,
 900: #0000db,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: rgba(black, 0.87),
   400: white,
   500: white,
   600: white,
   700: white,
   800: white,
   900: white,
 )
);

$yel-palette: (
 50: #efe6fe,
 100: #fcf9c4,
 200: #fbf69c,
 300: #f9f274,
 400: #f6ed54,
 500: #f3e832,
 600: #f6d930,
 700: #f5c126,
 800: #f4a91b,
 900: #f18004,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: rgba(black, 0.87),
   400: white,
   500: white,
   600: white,
   700: white,
   800: white,
   900: white,
 )
);

$my-primary: mat.define-palette($poke-palette, 500);
$my-accent: mat.define-palette($mon-palette, 500, 100, 800);
$my-warn: mat.define-palette($yel-palette, 700, 100, 800);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.core-theme($my-theme);

@include mat.all-component-themes($my-theme);